/** CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset <3 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/** Styles */
body {
  font-family: var(--font-geist-sans), system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: 'liga', 'clig', 'calt';
  font-variant: common-ligatures contextual;
  letter-spacing: -0.01em;
  font-size: 15px;
  color: #111;
  background-color: #f9f9f9;
  padding: 2rem;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.15rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p,
pre {
  margin-bottom: 0.75rem;
  width: 600px;
  max-width: 100%;
}

a {
  color: #888;
  text-decoration: underline solid currentColor;
  text-underline-position: from-font;
  text-decoration-thickness: from-font;
}

a:hover {
  color: #333;
}

code {
  font-family: var(--font-geist-mono), menlo, 'Courier New', Courier, monospace;
  letter-spacing: 0;
  background-color: #eee;
  padding: 0.2em 0.3em;
  border-radius: 3px;
  font-size: 0.95em;
  color: #565656;
}

pre {
  display: inline-block;
  background-color: #eee;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  width: 600px;
  max-width: 100%;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
  background: none;
  border-radius: 0;
}

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  width: 600px;
  max-width: 100%;
}

ul {
  padding-left: 1rem;
}

li {
  list-style: '•  ';
}

.demo {
  view-transition-name: demo-title;
  width: fit-content;
}

.demo-box {
  padding: 1rem;
  border: 1px solid #ddd;
  width: 600px;
  max-width: 100%;
  border-radius: 3px;
}

.demo-box h2:first-child {
  margin-top: 0;
}

.container {
  view-transition-name: container-move;
}

.support span {
  font-size: small;
  padding: 4px 6px;
  border-radius: 8px;
  box-decoration-break: clone;
  line-height: 2;
}

.support .no {
  color: rgba(200, 0, 0, 1);
  background-color: rgba(200, 0, 0, 0.1);
}

.support .yes {
  display: none;
  color: rgb(0, 120, 0);
  background-color: rgba(0, 120, 0, 0.1);
}

@supports (view-transition-name: figure-caption) {
  .support .yes {
    display: inline;
  }
  .support .no {
    display: none;
  }
}
